<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5_robotiq" >
<!-- UR5 robot -->
<xacro:include filename="$(find ur_description)/urdf/ur5_robot.urdf.xacro" />
<!-- Robotiq gripper -->
<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
 <!-- <link name="world" /> -->
<!-- Might need this for gazebo
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint> -->

  <!-- Test the name of the xacro and the position . not sure about either  -->
   <xacro:robotiq_85_gripper prefix="" parent="ee_link">
    <origin xyz="0.0 0.0 0.0052" rpy="0 0 0" />
  </xacro:robotiq_85_gripper>  

   <!-- <xacro:robotiq_85_gripper name="robotiq_85_gripper" parent="ee_link">
    <origin xyz="0.0 0.0 0.0052" rpy="0 0 0" />
  </xacro:robotiq_85_gripper> -->

</robot>


